body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

html,
body {
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(53, 54, 55);
    padding: 15px;
    border-radius: 5px;
    font-size: 60px;
}


footer {
    position: absolute;

    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 1px;
}

.maincontainer {
    width: 40%;
    padding: 90px;
    border-radius: 5px;
    background: rgb(204, 205, 209);
    margin: auto;
    border: 2px solid black;
}

form label {
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

form input[type="text"] {
    width: 96%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid rgb(201, 204, 208);
    box-shadow: 0px 0px 11px 4px rgb(201, 204, 208);
}

form button {
    background-color: #6e5353;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

form button:hover {
    border: 2px solid #868685;
}

#short-url-container {
    margin-top: 20px;
    width: 60%;
}

#short-url-container p {
    text-align: center;
    color: #fff;
}

#short-url a {
    word-wrap: break-word;
    margin-right: 10px;
    color: #fff;
}

.copy-button {
    background: rgb(206, 208, 210);
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    color: black;
}

.copy-button:hover {
    background: #c8c8c8;
    color: black;
}

.credit a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
}