body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #d9e2f5, #96bde3);

}

html,
body {
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11037dfc;
    padding: 15px;
    border-radius: 20px;
    font-size: 60px;
}


footer {
    position: absolute;

    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 1px;
}

.maincontainer {
    width: 40%;
    padding: 90px;
    border-radius: 30px;
    background: linear-gradient(to left, #d9e2f5, #96bde3);
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    border: 2px solid #002e6e;
}

form label {
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

form input[type="text"] {
    width: 96%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #2d06ba;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.25);
}

form button {
    background-color: #6e5353;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 20px;
}

form button:hover {
    border: 2px solid #868685;
}

#short-url-container {
    margin-top: 20px;
    width: 60%;
}

#short-url-container p {
    text-align: center;
    color: #fff;
}

#short-url a {
    word-wrap: break-word;
    margin-right: 10px;
    color: #fff;
}

.copy-button {
    background-color: #fff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 20px;
}

.copy-button a {
    color: #1f0a71;
    text-decoration: none;
}

.copy-button:hover {
    border: 2px solid #100382;
}

.credit a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
}